@import '../../../../../assets/styles/_variables';
.dashboard {
  display: grid;
  grid-template-columns: [full-start] 1rem 1fr repeat(8,[col-start] minmax(min-content, 14rem))[col-end] 1fr  1rem[full-end];
  gap: 1rem;
  width: 100%;
  margin-top: 8rem;
  // background-color: red;


  &__stats {
    grid-column: col-start 1 / col-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;

    &--info {
      display: flex;
      align-items: center;
      gap: 1rem;

      .icon {
        width: 6rem;
        height: 5rem;
        background-color: $blue;
        border-radius: 50%;
      }

      .stats {
        font-size: 1.6rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        // gap: 3rem;


        &__description {
          color: $dark-grey;
          font-size: 1.6rem;
          text-transform: capitalize;

        }

        &__number {
          font-size: 3rem;
          font-weight: 550;
        }
      }
    }
    &--see-details {
      color: $dark-grey;
      font-size: 1.5rem;
      text-transform: capitalize;
      color: $blue;
    }

  }

  &__store-summary {
    grid-column: col-start 1 / col-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;

    .expiring-list {
      font-size: 1.6rem;
    }
    .data-table {
      font-size: 1.6rem;
    }
  }
}
