.side-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 6rem;
  padding: 0 1rem;

  &__menu {

  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
