<div class="side-nav">
  <div class="logo">
    logo
  </div>

  <div class="side-nav__list">
    <div class="side-nav__list--icon"></div>
    <div class="side-nav__list--item">
      <details class="side-nav__nav-list">
        <summary class=" link-heading" >dashboard</summary>
        <div class="accodion-list">
        </div>
      </details>
    </div>
  </div>

  <div class="side-nav__list">
    <div class="side-nav__list--icon"></div>
    <div class="side-nav__list--item">
      <details class="side-nav__nav-list">
        <summary class=" link-heading">transactions</summary>
      </details>
    </div>
  </div>

  <div class="side-nav__list">
    <div class="side-nav__list--icon"></div>
    <div class="side-nav__list--item">
      <details class="side-nav__nav-list">
        <summary class=" link-heading">appointments</summary>
      </details>
    </div>
  </div>

  <div class="side-nav__list">
    <div class="side-nav__list--icon"></div>
    <div class="side-nav__list--item">
      <details class="side-nav__nav-list">
        <summary class=" link-heading">reports</summary>
      </details>
    </div>
  </div>

  <div class="side-nav__list">
    <div class="side-nav__list--icon"></div>
    <div class="side-nav__list--item">
      <details class="side-nav__nav-list">
        <summary class=" link-heading">store</summary>
        <!-- <div class="accodion-list">
          <span class="">all drugs</span>
          <span class="">add drug</span>
          <span class="">low in quantity</span>
        </div> -->
      </details>
    </div>
  </div>

</div>
