.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  height: 90vh;


  .logo {
    margin-bottom: 2rem;
  }

  .link-heading {
    font-size: 1.6rem;
    padding: .5rem;
    text-transform: capitalize;
    cursor: pointer;
    list-style-type: none;
  }

  // .dashboard {
  //   background-color: #5165F7;
  //   border-radius: 1rem;
  //   color: #FFFFFF;
  //   padding: 0 .5rem;

  // }

  &__list {
    display: flex;
    align-items: center;
    gap: 1rem;

    &--icon {
      background-color: blue;
      width: 2rem;
      height: 2rem;


    }


    .accodion-list {
      display: flex;
      flex-direction: column;
      gap: .5rem;

      font-size: 1.5rem;
      text-transform: capitalize;
      margin-left: 1rem;
      cursor: pointer;
      color: #444;
    }
  }

}
